* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.content-space {
  max-width: 1200px;
  margin: auto;
}
.button {
  background-color: #1d4ed8;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  padding: 15px 30px;
  font-size: 15px;
  font-weight: bold;
}

/* Navigation Bar Start */
nav {
  display: flex;
  justify-content: space-between;
  padding: 25px 0px;
}
.nav-links ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 15px;
  gap: 30px;
}
.nav-links ul li a {
  text-decoration: none;
  color: #575757;
}
/* Navigation Bar End */

/* Header Start */
header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5)), url(./images/banner.jpg);
  background-position: center;
  background-size: cover;
  height: 89vh;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
header .top {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
}
header .top h2 {
  font-size: 80px;
  margin-top: 40px;
}
header .top p {
  font-size: 20px;
  text-align: center;
  max-width: 700px;
  padding: 20px 0px;
  font-weight: 100;
}
header .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}
header .bottom button {
  padding: 20px 40px;
  font-size: 20px;
}
/* Header End */

/* Speaker Start */
.speakers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.speakers .top {
  padding: 80px 0px 50px 0px;
  font-size: 25px;
}
.speakers .cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding-bottom: 80px;
}
.speakers .cards .card {
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  line-height: 30px;
}
.speakers .cards .card img {
  height: 70%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.speakers .cards .card .expertise {
  color: #2563eb;
  font-size: 10px;
  padding-left: 30px;
}
.speakers .cards .card h2 {
  font-size: 18px;
  padding-left: 30px;
}
.speakers .cards .card .position {
  color: #575757;
  font-size: 12px;
  padding-left: 30px;
}
/* Speaker End */

/* Secure Your Spot Start */
.secure-your-spot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.secure-your-spot h2 {
  font-size: 48px;
}
.secure-your-spot .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.secure-your-spot .cards .card {
  border: 1px solid #e2e2e2;
  width: 350px;
  padding: 40px;
  border-radius: 10px;
}
.secure-your-spot .cards .card .type {
  color: #888888;
  font-size: 15px;
  padding: 5px;
}
.secure-your-spot .cards .card .price {
  padding: 5px;
  font-size: 45px;
}
.person {
  color: #888888;
  padding: 5px 5px 30px 5px;
  border-bottom: 1px solid #e5e7eb;
}
.secure-your-spot .cards .card ul {
  line-height: 40px;
  padding-top: 20px;
  padding-left: 15px;
  font-size: 15px;
  color: #333333;
  padding-bottom: 30px;
}
.secure-your-spot .cards .card button {
  width: 100%;
  font-size: 14px;
  padding: 10px;
  background-color: white;
  color: #2563eb;
  border: 1px solid #2563eb;
  border-radius: 10px;
}
.pro ul li::marker {
  color: #60a5fa;
}
.pro .person {
  border-bottom: 1px solid #555555;
}
/* Secure Your Spot End */

/* Schedule Start */
.schedule {
  padding: 80px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.schedule h2 {
  font-size: 48px;
}
table {
  border: 2px solid #1d4ed8;
  border-collapse: collapse;
  margin-top: 50px;
  width: 35vw;
  text-align: center;
}
table td,
th {
  border: 2px solid #1d4ed8;
  width: 50%;
  height: 30px;
  font-size: 20px;
  padding: 15px;
}
table th {
  background-color: #1d4ed8;
  color: white;
}
table td {
  color: rgb(83, 83, 83);
}
/* Schedule End */

/* Footer Start */
footer {
  background-color: #0d1b2a;
}
.footer-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid white;
  color: white;
}
.footer-contents .right a img {
  height: 25px;
  margin: 12px;
}
.copyright {
  padding: 15px 0px;
  color: rgb(147, 147, 147);
  font-size: 15px;
  display: flex;
  justify-content: left;
  max-width: 1200px;
  margin: auto;
}
/* Footer End */
